@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    direction: rtl;
}

body {
    font-family: $font_yekan;
    font-size: 1.5rem;
}

